{% extends 'base.html.twig' %}

{% block content %}
  <div class="logo-container">
    <img class="logo-image" src="{{ asset('images/LinioWhiteLogo.png') }}">
  </div>
  <div class="container">
    <div class="accordion" id="accordionForm">
      <h1 align="center">{{ 'FORM_TITLE'|trans }}</h1><br>
      {{ form_start(form) }}
      <div class="card">
        <div class="card-header">
          <h5 class="mb-0">
            {{ 'SECTION_1_TITLE' | trans }}
          </h5>
        </div>
        <div id="collapseOne">
          <div class="card-body row">
            {{ form_row(form.generalInfo.contactFullName, { 'label': 'CONTACT_FULL_NAME_LABEL' } ) }}
            {{ form_row(form.generalInfo.sellerCenterId, { 'label': 'SELLER_CENTER_ID_LABEL' } ) }}
            {{ form_row(form.generalInfo.email, { 'label': 'EMAIL_LABEL' } ) }}
            {{ form_row(form.generalInfo.reasons, { 'label': 'REASONS_LABEL', 'id': 'reasons' }) }}
          </div>
        </div>
      </div>

      <div class="card hide" id="additionalInfoBlock">
        <div class="card-header">
          <h5 class="mb-0">
              {{ 'SECTION_2_TITLE' | trans }}
          </h5>
        </div>
        <div id="collapseTwo">
          <div class="card-body row">
            {% if form.additionalInfo.cutoffDates is defined %}
              {{ form_row(form.additionalInfo.cutoffDates) }}
            {% endif %}
            {% if form.additionalInfo.orderNumbers is defined %}
              {{ form_row(form.additionalInfo.orderNumbers) }}
            {% endif %}
            {% if form.additionalInfo.amounts is defined %}
              {{ form_row(form.additionalInfo.amounts) }}
            {% endif %}
            {% if form.additionalInfo.invoicingType is defined %}
              {{ form_row(form.additionalInfo.invoicingType) }}
            {% endif %}
            {% if form.additionalInfo.poNumber is defined %}
              {{ form_row(form.additionalInfo.poNumber) }}
            {% endif %}
            {% if form.additionalInfo.idNumber is defined %}
              {{ form_row(form.additionalInfo.idNumber) }}
            {% endif %}
            {% if form.additionalInfo.legalName is defined %}
              {{ form_row(form.additionalInfo.legalName) }}
            {% endif %}
            {% if form.additionalInfo.responsibleName is defined %}
              {{ form_row(form.additionalInfo.responsibleName) }}
            {% endif %}
            {% if form.additionalInfo.errorDescription is defined %}
              {{ form_row(form.additionalInfo.errorDescription) }}
            {% endif %}
            {% if form.additionalInfo.billingNumbers is defined %}
              {{ form_row(form.additionalInfo.billingNumbers) }}
            {% endif %}
            {% if form.additionalInfo.billingDates is defined %}
              {{ form_row(form.additionalInfo.billingDates) }}
            {% endif %}
            {% if form.additionalInfo.trackingNumber is defined %}
              {{ form_row(form.additionalInfo.trackingNumber) }}
            {% endif %}
            {% if form.additionalInfo.phone is defined %}
              {{ form_row(form.additionalInfo.phone) }}
            {% endif %}
            {% if form.additionalInfo.reason is defined %}
              {{ form_row(form.additionalInfo.reason) }}
            {% endif %}
            {% if form.additionalInfo.bankAccountNumber is defined %}
              {{ form_row(form.additionalInfo.bankAccountNumber) }}
            {% endif %}
            {% if form.additionalInfo.warehouseAddress is defined %}
              {{ form_row(form.additionalInfo.warehouseAddress) }}
            {% endif %}
            {% if form.additionalInfo.supplies is defined %}
              {{ form_row(form.additionalInfo.supplies) }}
            {% endif %}
            {% if form.additionalInfo.packagingType is defined %}
              {{ form_row(form.additionalInfo.packagingType) }}
            {% endif %}
            {% if form.additionalInfo.packageQty is defined %}
              {{ form_row(form.additionalInfo.packageQty) }}
            {% endif %}
            {% if form.additionalInfo.packageSize is defined %}
              {{ form_row(form.additionalInfo.packageSize) }}
            {% endif %}
            {% if form.additionalInfo.packageWeight is defined %}
              {{ form_row(form.additionalInfo.packageWeight) }}
            {% endif %}
            {% if form.additionalInfo.origin is defined %}
              {{ form_row(form.additionalInfo.origin) }}
            {% endif %}
            {% if form.additionalInfo.sku is defined %}
              {{ form_row(form.additionalInfo.sku) }}
            {% endif %}
            {% if form.additionalInfo.personInCharge is defined %}
              {{ form_row(form.additionalInfo.personInCharge) }}
            {% endif %}
            {% if form.additionalInfo.shippingCompany is defined %}
              {{ form_row(form.additionalInfo.shippingCompany) }}
            {% endif %}
          </div>
        </div>
        <div class="card hide" id="attachmentsBlock">
          <div class="card-header">
              <h5 class="mb-0">
                  {{ 'SECTION_3_TITLE' | trans }}
              </h5>
          </div>
          <div id="collapseThree">
            <div class="card-body row">
                {% if form.additionalInfo.paymentDetails is defined %}
                    {{ form_row(form.additionalInfo.paymentDetails, { 'id': 'paymentDetails' }) }}
                {% endif %}
                {% if form.additionalInfo.taxDocument is defined %}
                    {{ form_row(form.additionalInfo.taxDocument, { 'id': 'taxDocument' }) }}
                {% endif %}
                {% if form.additionalInfo.companyDocument is defined %}
                    {{ form_row(form.additionalInfo.companyDocument, { 'id': 'companyDocument' }) }}
                {% endif %}
                {% if form.additionalInfo.accountBalance is defined %}
                    {{ form_row(form.additionalInfo.accountBalance, { 'id': 'accountBalance' }) }}
                {% endif %}
                {% if form.additionalInfo.invoices is defined %}
                    {{ form_row(form.additionalInfo.invoices, { 'id': 'invoices' }) }}
                {% endif %}
                {% if form.additionalInfo.accountReceivable is defined %}
                    {{ form_row(form.additionalInfo.accountReceivable, { 'id': 'accountReceivable' }) }}
                {% endif %}
                {% if form.additionalInfo.interfacturaEvidence is defined %}
                    {{ form_row(form.additionalInfo.interfacturaEvidence, { 'id': 'interfacturaEvidence' }) }}
                {% endif %}
                {% if form.additionalInfo.evidence is defined %}
                    {{ form_row(form.additionalInfo.evidence, { 'id': 'evidence' }) }}
                {% endif %}
                {% if form.additionalInfo.fblSkuList is defined %}
                    {{ form_row(form.additionalInfo.fblSkuList, { 'id': 'fblSkuList' }) }}
                {% endif %}
                {% if form.additionalInfo.skuList is defined %}
                    {{ form_row(form.additionalInfo.skuList, { 'id': 'skuList' }) }}
                {% endif %}
                {% if form.additionalInfo.shoppingError is defined %}
                    {{ form_row(form.additionalInfo.shoppingError, { 'id': 'shoppingError' }) }}
                {% endif %}
                {% if form.additionalInfo.eventsForm is defined %}
                    {{ form_row(form.additionalInfo.eventsForm, { 'id': 'eventsForm' }) }}
                {% endif %}
                {% if form.additionalInfo.orderShipmentDocument is defined %}
                    {{ form_row(form.additionalInfo.orderShipmentDocument, { 'id': 'orderShipmentDocument' }) }}
                {% endif %}
                {% if form.additionalInfo.cbuDocument is defined %}
                    {{ form_row(form.additionalInfo.cbuDocument, { 'id': 'cbuDocument' }) }}
                {% endif %}
                {% if form.additionalInfo.requestedSupplies is defined %}
                    {{ form_row(form.additionalInfo.requestedSupplies, { 'id': 'requestedSupplies' }) }}
                {% endif %}
                {% if form.additionalInfo.invoiceProof is defined %}
                    {{ form_row(form.additionalInfo.invoiceProof, { 'id': 'invoiceProof' }) }}
                {% endif %}
                {% if form.additionalInfo.alternateImage is defined %}
                    {{ form_row(form.additionalInfo.alternateImage, { 'id': 'alternateImage' }) }}
                {% endif %}
                {% if form.additionalInfo.technicalReport is defined %}
                    {{ form_row(form.additionalInfo.technicalReport, { 'id': 'technicalReport' }) }}
                {% endif %}
                {% if form.additionalInfo.ccciDocument is defined %}
                    {{ form_row(form.additionalInfo.ccciDocument, { 'id': 'ccciDocument' }) }}
                {% endif %}
                {% if form.additionalInfo.shippingLabel is defined %}
                    {{ form_row(form.additionalInfo.shippingLabel, { 'id': 'shippingLabel' }) }}
                {% endif %}
                {% if form.additionalInfo.idDocument is defined %}
                    {{ form_row(form.additionalInfo.idDocument, { 'id': 'idDocument' }) }}
                {% endif %}
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="col-md-12 text-right">
        <input type="submit" id="submitButton" class="btn btn-primary btn-block col-md-4 offset-md-4" disabled value="{{ 'submit'|trans }}"/>
      </div>
      {{ form_end(form) }}
    </div>
    <div class="modal fade bd-example-modal-lg" id="processingModal" tabindex="-1" role="dialog" aria-labelledby="submitButton" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <h4>{{ 'PROCESSING_INFORMATION_MODAL_TITLE'|trans }}</h4>
            {{ 'PROCESSING_INFORMATION_MODAL_BODY'|trans }}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var reasonFields = {{ reasonsEnabledFields|json_encode|raw }};
        var locale = '{{ app.request.locale|slice(0, 2) }}';
    </script>
    <script src="{{ asset('js/toggle-fields.js') }}"></script>
    <script src="{{ asset('js/show-error-fields.js') }}"></script>
    <script src="{{ asset('js/initialize-file-inputs.js') }}"></script>
    <script>
        $('#submitButton').on('click', (function()
        {
            var formIsValid = document.getElementsByTagName('form')[0].checkValidity();
            if (formIsValid) {
                $('#processingModal').modal('show');
            }
        }));
    </script>
{% endblock %}
