{% extends 'base.html.twig' %}

{% block content %}
  <div class="logo-container">
    <img class="logo-image" src="{{ asset('images/LinioWhiteLogo.png') }}">
  </div>
  <div class="container">
    <div class="accordion" id="accordionForm">
      <h1>{{ 'form_title'|trans }}</h1><br>
      {{ form_start(form) }}
      <div class="card">
        <div class="card-header">
          <h5 class="mb-0">
            {{ 'section_1_title' | trans }}
          </h5>
        </div>
        <div id="collapseOne">
          <div class="card-body row">
            {{ form_row(form.generalInfo.accountName, { 'label': 'general_info.account_name.label' } ) }}
            {{ form_row(form.generalInfo.sellerCenterId, { 'label': 'general_info.seller_center_id.label' } ) }}
            {{ form_row(form.generalInfo.email, { 'label': 'general_info.email.label' } ) }}
            {{ form_row(form.generalInfo.reason, { 'label': 'general_info.reason.label' }) }}
          </div>
        </div>
      </div>
      <br>
      <div class="col-md-12 text-right">
        <input type="submit" class="btn btn-primary btn-block col-md-4 offset-md-4" disabled value="{{ 'submit'|trans }}"/>
      </div>
      {{ form_end(form) }}
    </div>
  </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

    </script>
{% endblock %}
