{% extends 'base.html.twig' %}

{% block content %}
  <div class="logo-container">
    <img class="logo-image" src="{{ asset('images/LinioWhiteLogo.png') }}">
  </div>
  <div class="container">
    {% if hunter is not empty %}
      <div class="account-hunter">{{ 'account_hunter'|trans ~ hunter }}</div>
    {% endif %}
    <h1>{{ 'form_title'|trans }}</h1><br>
    {{ form_start(form) }}
    <h4>{{ 'section_1_title'|trans }}</h4>
    <br>
    {{ form_row(form.contact.firstName) }}
    {{ form_row(form.contact.lastName) }}
    {{ form_row(form.contact.phoneNumber) }}
    {{ form_row(form.account.accountName) }}
    {{ form_row(form.contact.email) }}
    <p>{{ 'Terms_and_conditions'|trans }}</p>
    {{ form_row(form.contact.acceptManifest) }}
    {{ form_row(form.contact.acceptTermsAndConditions) }} <a href=""> Ver términos y condiciones</a><br>
    {{ form_row(form.contact.acceptCommissionsAndPaymentPolicy) }} <a href=""> Ver comisiones y políticas de pagos</a>
    <hr>
    <h4>{{ 'section_2_title'|trans }}</h4>
    <br>
    {{ form_row(form.account.legalName) }}
    {{ form_row(form.account.contributorType) }}
    {{ form_row(form.account.legalAddress) }}
    {{ form_row(form.account.legalAddress2) }}
    {{ form_row(form.account.legalCity) }}
    {{ form_row(form.account.legalCountry) }}
    {{ form_row(form.account.legalPostalCode) }}
    {% if form.account.economicActivity is defined %}
      {{ form_row(form.account.economicActivity) }}
    {% endif %}
    {{ form_row(form.account.legalRepresentative) }}
    {{ form_row(form.account.fiscalIdNumber) }}
    {{ 'Fiscal id additional doc'|trans }}
    {{ form_row(form.account.fiscalIdAdditionalDoc) }}
    {% if form.account.logisticDocument is defined %}
      {{ 'Logistic document'|trans }}
      {{ form_row(form.account.logisticDocument) }}
    {% endif %}
    {% if form.account.idAdditionalDoc is defined %}
      {{ 'Id additional doc'|trans }}
      {{ form_row(form.account.idAdditionalDoc) }}
    {% endif %}
    {% if form.account.financeContactName is defined %}
      {{ form_row(form.account.financeContactName) }}
    {% endif %}
    {% if form.account.financeContactMail is defined %}
      {{ form_row(form.account.financeContactMail) }}
    {% endif %}
    {% if form.account.financeContactPhone is defined %}
      {{ form_row(form.account.financeContactPhone) }}
    {% endif %}
    <hr>
    <h4>{{ 'section_3_title'|trans }}</h4>
    <br>
    {{ form_row(form.account.bankAcctHolder) }}
    {{ form_row(form.account.bankAcctNumber) }}
    {{ form_row(form.account.bankName) }}
    {{ form_row(form.account.bankCode) }}
    {% if form.account.bankRegistrationNumber is defined %}
      {{ form_row(form.account.bankRegistrationNumber) }}
    {% endif %}
    {{ form_row(form.account.bankIban) }}
    {% if form.account.bankCertificate is defined %}
      {{ 'Bank certificate'|trans }}
      {{ form_row(form.account.bankCertificate) }}
    {% endif %}
    <hr>
    <h4>{{ 'section_4_title'|trans }}</h4>
    <br>
    {{ form_row(form.account.warehouseContact) }}
    {{ form_row(form.account.warehouseAddress) }}
    {% if form.account.warehouseAddressExtraData is defined %}
      {{ form_row(form.account.warehouseAddressExtraData) }}
    {% endif %}
    {% if form.account.warehouseAddressExtraData2 is defined %}
      {{ form_row(form.account.warehouseAddressExtraData2) }}
    {% endif %}
    {% if form.account.warehouseAddressExtraData3 is defined %}
      {{ form_row(form.account.warehouseAddressExtraData3) }}
    {% endif %}
    {% if form.account.warehouseAddressExtraData4 is defined %}
      {{ form_row(form.account.warehouseAddressExtraData4) }}
    {% endif %}
    {{ form_row(form.account.warehouseAddress2) }}
    {% if form.account.warehouseAddress2ExtraData is defined %}
      {{ form_row(form.account.warehouseAddress2ExtraData) }}
    {% endif %}
    {% if form.account.warehouseAddress2ExtraData2 is defined %}
      {{ form_row(form.account.warehouseAddress2ExtraData2) }}
    {% endif %}
    {{ form_row(form.account.warehouseCity) }}
    {% if form.account.warehouseCity2 is defined %}
      {{ form_row(form.account.warehouseCity2) }}
    {% endif %}
    {{ form_row(form.account.warehousePhone) }}
    {{ form_row(form.account.warehousePostalCode) }}
    {% if form.account.warehouseMode is defined %}
      {{ form_row(form.account.warehouseMode) }}
    {% endif %}
    {% if form.account.warrantyContact is defined %}
      {{ form_row(form.account.warrantyContact) }}
    {% endif %}
    <hr>
    <p class="text-justify font-italic">{{ 'section_5_introduction'|trans }}</p>
    <h4>{{ 'section_5_title'|trans }}</h4>
    <br>
    {{ form_row(form.opportunity.operativeCheckLegallyConstituted) }}
    {{ form_row(form.opportunity.operativeCheckCatalog) }}
    {{ form_row(form.opportunity.operativeCheckInventory) }}
    {{ form_row(form.opportunity.operativeCheckDelivery) }}
    {{ form_row(form.opportunity.operativeCheckReturns) }}
    {{ form_row(form.opportunity.operativeCheckShippingAgreement) }}
    {{ form_row(form.opportunity.operativeCheckInvoices) }}
    {{ form_row(form.opportunity.earningsEstimate) }}
    <hr>
    <h4>{{ 'section_6_title'|trans }}</h4>
    <br>
    {{ form_row(form.opportunity.mainCategory) }}
    {{ form_row(form.opportunity.secondaryCategory) }}
    {{ form_row(form.opportunity.potentialCatalog) }}
    <hr>
    <h4>{{ 'section_7_title'|trans }}</h4>
    <br>
    {{ form_row(form.opportunity.website) }}
    {{ form_row(form.opportunity.otherStoresList) }}
    {{ form_row(form.opportunity.otherStoreName) }}
    {{ form_row(form.opportunity.otherStoresAddress) }}
    {{ form_row(form.opportunity.otherStoresRating) }}
    <hr>
    <h4>{{ 'section_8_title'|trans }}</h4>
    <br>
    {{ form_row(form.opportunity.officialDistributorBrand) }}
    {{ 'Main brands'|trans }}
    {{ form_row(form.opportunity.brand1) }}
    {{ form_row(form.opportunity.brand2) }}
    {{ form_row(form.opportunity.brand3) }}
    {{ form_row(form.opportunity.marketingInvest) }}
    {{ form_row(form.opportunity.integrationFlag) }}
    {{ form_end(form) }}
  </div>
{% endblock %}
